<% column ||= @column -%>
<div id="<%= dom_id(column, "content") %>" class="column">
<%= tool_shed(column) if @use_tool or edit_mode? -%>
<%= "&nbsp; " if column.boxes.blank? -%>
<%= render :partial => "boxes/box", :collection => column.boxes %>  
</div>