
                            <div class="help_nav"><a href="/help">Help</a>: Pro Tip</div>

<h1>Using a custom domain name with Jivepages</h1>

<p>
    Custom domains let you host your Jivepages with a URL like
    <b>"www.mywebsite.com"</b>.  This can be tricky to set up, and is
    only recommended for advanced users.  Really — our staff
    isn't able to support many of the issues that may crop up
    when setting up a domain name.  So please ask a friend who's
    done this before if you're uncomfortable with any of the
    instructions.
</p>

<img src="/plugin_assets/jivepages/images/godaddy_dns.png" style="width: 211px; height: 164px; float: right; margin-left: 20px;" alt="GoDaddy DNS" title="GoDaddy DNS">

<p>
    First, you'll need to buy a domain from a
    <a href="http://en.wikipedia.org/wiki/Domain_name_registrar" target="_blank">registrar</a> like
    <a href="http://www.godaddy.com/" target="_blank">GoDaddy</a>,
    <a href="http://www.pairnic.com/" target="_blank">pairNIC</a>,
    or <a href="http://www.register.com/" target="_blank">Register</a>.
    This usually costs $10-$40 per year.  Then you'll need to
    follow the registrar's instructions to point the domain's
    <a href="http://en.wikipedia.org/wiki/A_record" target="_blank">A-record</a>
    (IP address) to <b>xx.xx.xx.xx</b>
</p>
<p>
    Once you've done this, you may need to wait up to 72 hours
    for the change to take effect.  If the
    domain is set up properly, you should see the Jivepages home page
    when you visit your domain.  Almost done!
</p>
<fieldset>
    <legend>Tip</legend>
    To check if your domain is properly configured, use the
    <a href="/check_domain">Custom Domain Test Tool</a>.
</fieldset>
<p>
    Now edit your Jivepage and click the <b>Site</b> tab.  Under the
    <b>"URL"</b> settings, check off <b>"Use a custom domain name"</b>, and enter
    your custom domain (ie. "mywebsite.com").  Click <b>"Save"</b>,
    and if everything went right, visiting your domain should now
    show your site.
</p>
